.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.add-state-button, .save-json-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  margin-right: 10px;
}

.add-state-button:hover {
  background-color: #0056b3;
}

.save-json-button {
  background-color: #28a745;
}

.save-json-button:hover {
  background-color: #218838;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.large-textbox {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.send-button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
}